@tailwind base;
@tailwind components;
@tailwind utilities;

/* add custom base/preflight styles */
@layer base {
  html, body {
    width:100%;
    display: block;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Circular';
    src: url("/src/assets/fonts/circular-std-medium-500.ttf");
  }

  @font-face {
    font-family: 'Koulen';
    src: url("/src/assets/fonts/Koulen-Regular.ttf");
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    scroll-padding: 0px;    
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}